@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
.fuenteRegular{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
}
header{
    position: sticky;
    top: 0;
    background-color: white;
    font-size: 25px;
    z-index: 10;
}
nav div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo{
    width: 20%;
}
h1{
    padding-right: 8em;
}
#home{
    margin-bottom: 2em;
}
#home p{
    text-align: center;
    margin: 2em 8em;
}
#home span{
    text-decoration: underline;
}
#home img{
    width: 100%;
}
a{
    color: black;
}
.habitacion{
    border: solid 0.1em rgb(82, 79, 79);
    margin: 0 4em 2em 4em;
    display: flex;
    flex-direction: row;
}
.habitacion img{
    width: 50%;
    padding-right: 2em;
}
h2{
    padding-top: 0.5em;
}
.habitacion div{
    display: flex;
    flex-direction: column;
}
#formulario{
    padding: 0 8em;
}
h3{
    padding-bottom: 0.5em;
}
#alertFecha{
    width: fit-content;
}
#nochesLabel{
    margin-top: 0.9em;
}
#cantidadNoches{
    margin: 1em 0 1em 0.3em;
}
#metodoPago{
    margin-left: 0.4em;
}
#boton{
    margin: 1em 0 1em 32em;
}